<!DOCTYPE html>
<html>
<head>
    <title><%= AppName %></title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <script type="text/javascript">
        var socket = io.connect();
        var currentUserId = '<%= userId %>';
        socket.on('newUser', function (data) {
            $('#users').append( "<p id=" + data.userId + "><span class='name'>" + data.userName + "</span><span class='mark'></span></p>" );;
        });
        socket.on('onMarkSelect', function (data) {
            $('#users p#' + data.userId + " .mark").text(data.mark)
        });

        socket.emit('joinPoker', {
            userId: currentUserId
        });
            // Handle UI
        $(function () {
            // Set nickname
            $('#marks li').on('click', function () {
                socket.emit('selectMark', {
                    userId: currentUserId,
                    mark: $(this).text()
                });
            });
        });
    </script>
</head>
<body>
<div class="container" style="margin-top:10px;">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="/"><%= AppName %></a>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/login">Login</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div id="users">
            </div>
            <ul id="marks" class="marks">
                <li>0.5</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>5</li>
                <li>8</li>
                <li>13</li>
                <li>21</li>
                <li>34</li>
            </ul>

        </div>

    </div>
</div>
</body>
</html>